@font-face {
    preload: true;
    font-display: optional;
    font-family: Inspire;
    font-style: normal;
    font-weight: 400;
    src: url(font/Inspire-Regular.f2199f841165c4ddbafcf177da3ef974.woff2);
}

@font-face {
    preload: true;
    font-display: swap;
    font-family: Inspire;
    font-style: normal;
    font-weight: 700;
    src: url(font/Inspire-Bold.4ff15ddc93445342649194969715b0b5.woff2);
}

* {
    scroll-behavior: smooth;
}

html {
    font-family: Inspire, sans-serif;
}

body {
    background-color: #040714;
    line-height: 24px;
    overflow-x: hidden;
}

.links_nav {
    display: flex;
    justify-content: end;
    gap: 16px;
    margin: 3vh 5vw 0 0;
}

.botao-midias {
    width: fit-content;
}

.botao-midias:nth-child(2) img {
    width: 3vw;
}

.botao-midias img {
    width: 2.5vw;
}

.botao-midias:hover {
    scale: 1.1;
}

.secao-canais {
    display: flex;
    justify-content: space-between;
}

.secao-canais_textos {
    width: 45vw;
    margin: 8vh 0 0 5vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.logo-oceanflix {
    width: 25%;
    transition: all 0.3s;
}

.logo-oceanflix:hover {
    transform: scale(1.1);
    transition: all 0.3s;

}

.basic-bold-text {
    font-size: 2.5em;
    font-weight: 700;
    margin: 24px 0px;
}

.subtitulo-secao_canais {
    font-size: 1.75em;
    margin-top: 0px;
}

h1,
.subtitulo-secao_canais {
    color: #ffff;
}

.oceanflix-first-rules {
    color: #c0c0c0;
}

.botao-oceanflix {
    width: 300px;
    margin: 10px 0px;
    color: #02172a;
    padding: 16px 5px;
    font-size: 1.2em;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #02d6e8;
    border-radius: 5px;
    letter-spacing: 2px;
    line-height: 27px;
    transition: all 0.3s;
    border: 1px solid #02d6e8;
}


.botao-oceanflix:hover {
    background-color: #040714;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.3s;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}


.botao-oceanflix2 {
    transform: translateZ(20px);
}


.botoes-signature {
    display: flex;
    gap: 1.5em;
}

.video-amv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 600px;
    height: 450px;
}

.video-player-tag {
    width: 550px;
    border-radius: 24px;
}

.detalhes-projetos {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #ffff;
    width: fit-content;
}

.setinha {
    opacity: 0.7;
    transform: rotate(90deg);
    width: 2vw;
    position: relative;
    animation: mexerSeta infinite .7s both ease-in-out;
}

@keyframes mexerSeta {
    0% {
        top: 0px;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 0px;
    }
}

.secao-2-edityoutube {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
}

.secao-2_img {
    width: 50vw;
    height: auto;
    cursor: pointer;
}

.secao-2_text {
    width: 40vw;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.secao-2-edityoutube-text {
    font-size: 1.5em;
    font-weight: 700;
    margin: 24px 0;
    line-height: 28.8px;
}

.secao-2-edityoutube-text2 {
    font-size: 1em;
    line-height: 19.2px;
}

.secao-2-edityoutube-text3 {
    margin: 20px 0;
}

.secao-2_button {
    display: block;
    width: fit-content;
    cursor: pointer;
    background: #02d6e8;
    color: #000;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    letter-spacing: 2px;
    line-height: 27px;
    padding: 16px 5px;
    width: 200px;
    border: 1px solid #02d6e8;
    text-decoration: none;
}

.secao-2_button:hover {
    background-color: #040714;
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.3s;
    transition: scale 0s;
}

.secao-2_button:active {
    scale: 0.95;
}

.projetos-titulo {
    color: #fff;
    margin: 45px;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.projetos-subtitulo {
    color: #c0c0c0;
    text-align: center;
    margin: 10px;
}


.projects-imgs-section {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    gap: 10px;
  }


